{% extends 'base.html.twig' %}

{% block title %}Modifier la Réponse{% endblock %}

{% block body %}
    <h1>Modifier la Réponse</h1>

    {{ include('answer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('answer_index') }}">Retour à la Liste</a>

    {{ include('answer/_delete_form.html.twig') }}
{% endblock %}
