{% extends 'base.html.twig' %}

{% block title %}Modifier la Réponse{% endblock %}

{% block body %}
    <h1>Modifier la Réponse</h1>

    {{ include('answer/_form.html.twig', {'button_label': 'Modifier'}) }}


    {{ include('answer/_delete_form.html.twig') }}
{% endblock %}
