{% extends 'base.html.twig' %}

{% block title %}Nouvelle Réponse{% endblock %}

{% block body %}
    <h1>Nouvelle Réponse</h1>

    {{ include('answer/_form.html.twig') }}

    <a href="{{ path('job_interview_new') }}" class="btn btn-light" role="button">Nouvel Entretien</a>


{% endblock %}
