
.btn-default{
    background-color:transparent;
    border: 2px solid grey;
    border-radius: 8px;
}
.btn-light-red:hover {
    color: #212529;
    background-color: #ca6281;
    border-color: #c05777;
}
body{
    width: 1400px;
    margin: auto;
}

.btn-light{
    float: right;
}
.btn-light-red{
    float: left !important;
}

h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}
.text-center-horizontal{
    text-align: center;
}
table {
    margin-bottom: 15px;
}
label{
    width: 250px;
    vertical-align: top;
}
th{
    text-align: center;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
.dropbtn{
    min-width: 160px;
    height: 100px;  
    padding: 12px 16px;
    display: block;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }

.dropdown-content a:hover {
    background-color: #ddd;
  }

.dropdown:hover .dropdown-content {
    display: block;
  }
  
.navbar-light{
    margin: auto;
    background-color:#f9f9f9;
    display : inline-block;
    padding-top: .3200rem;
    padding-bottom: .3200rem;
    margin-right: 5rem;
    margin-left: 5rem;
    font-size: 1.25rem;
    line-height:inherit;
    white-space: nowrap;
    color: #212529;
    font-weight: 400;
    text-align: center;
}