
.btn-default{
    background-color:transparent;
    border: 2px solid grey;
    border-radius: 8px;
}
.btn-light-red:hover {
    color: #212529;
    background-color: #ca6281;
    border-color: #c05777;
}
body{
    width: 1400px;
    margin: auto;
}
h1{
    text-align: center;
    margin-bottom: 25px;
}
.btn-light{
    float: right;
}
.btn-light-red{
    float: left !important;
}
nav {
    margin-bottom: 42px;
}
table {
    margin-bottom: 15px;
}
label{
    width: 250px;
    vertical-align: top;
}
th{
    text-align: center;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

.dropdown:hover .dropdown-content {
    display: block;
  }