{% extends 'base.html.twig' %}

{% block title %}Modifier la Candidature{% endblock %}

{% block body %}
    <h1>Modifier la Candidature</h1>

    {{ include('application/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('application_index') }}">Retour à la Liste</a>

    {{ include('application/_delete_form.html.twig') }}
{% endblock %}
