{% extends 'base.html.twig' %}

{% block title %}Modifier cette Candidature{% endblock %}

{% block body %}
    <h1>Modifier cette Candidature</h1>

    {{ include('application/_form.html.twig', {'button_label': 'Modifier'}) }}

    <button class="btn btn-light" href="{{ path('application_index') }}">retour à la liste</button>

    {{ include('application/_delete_form.html.twig') }}
{% endblock %}
