{% extends 'base.html.twig' %}

{% block title %}Nouvelle Candidature{% endblock %}

{% block body %}
    <h1>Nouvelle Candidature</h1>

    {{ include('application/_form.html.twig') }}


{% endblock %}

