{% extends 'base.html.twig' %}

{% block title %}Slash{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Slash</h1>
<p>Ce  projet  est  un  “logiciel”  qui  permettra  aux  demandeurs  d’emplois  d’organiser  leurs  recherches.  Il  doit  présenter  une  prise  en  main  facile.  C’est  un  logiciel  libre  qui  n’a  pas  pour  but  de  trouver  des  fonds  pour  se  développer.  Il  sera  développé  par  la  communauté.  Il  permet  aux  utilisateurs  d’enregistrer  les  annonces  qu’ils  trouvent  sur  le  net  des  associées  à  des  tâches  à  accomplir,  créant  ainsi  une  candidature.  Ce  projet  en  est  à  ses  débuts.  C’est  un  support  pour  les  questions  que  je  projette  de  poser  à  d’autres  demandeurs  d’emplois  concernant leurs attentes utilisateurs.</p>
</div>
{% endblock %}
