<form method="post" action="{{ path('job_interview_delete', {'id': job_interview.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job_interview.id) }}">
    <button class="btn">Delete</button>
</form>
