{% extends 'base.html.twig' %}

{% block title %}Modifier cet Entretien{% endblock %}

{% block body %}
    <h1>Modifier cet Entretien</h1>

    {{ include('job_interview/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('job_interview_index') }}">liste des entretiens</a>

    {{ include('job_interview/_delete_form.html.twig') }}
{% endblock %}
