{% extends 'base.html.twig' %}

{% block title %}Edit JobInterview{% endblock %}

{% block body %}
    <h1>Edit JobInterview</h1>

    {{ include('job_interview/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('job_interview_index') }}">back to list</a>

    {{ include('job_interview/_delete_form.html.twig') }}
{% endblock %}
