{% extends 'base.html.twig' %}

{% block title %}New JobInterview{% endblock %}

{% block body %}
    <h1>Create new JobInterview</h1>

    {{ include('job_interview/_form.html.twig') }}
{% endblock %}
