{% extends 'base.html.twig' %}

{% block title %}Modifier ce Contact{% endblock %}

{% block body %}
    <h1>Modifier ce Contact</h1>

    {{ include('contact/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('contact_index') }}">liste des contacts</a>

    {{ include('contact/_delete_form.html.twig') }}
{% endblock %}
