{% extends 'base.html.twig' %}

{% block title %}Modifier le Contact{% endblock %}

{% block body %}
    <h1>Modifier le Contact</h1>

    {{ include('contact/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('contact_index') }}">Retour à la Liste</a>

    {{ include('contact/_delete_form.html.twig') }}
{% endblock %}
