
.btn-default{
    background-color:transparent;
    border: 2px solid grey;
    border-radius: 8px;
}
.btn-light-red:hover {
    color: #212529;
    background-color: #ca6281;
    border-color: #c05777;
}