<ul>
    <li class="current first">
        <a href="{{ path('home') }}">Accueil</a>
    </li>
    <li class="current_ancestor">
        <a href="{{ path('application_new') }}">Candidature</a>
        <ul class="menu_level_1">
            <li class="current first last">
                <a href="{{ path('application_new') }}">Nouvelle Candidature</a>
            </li>
        </ul>
    </li>
</ul>