{% extends 'base.html.twig' %}

{% block title %}Réponse au Questionnaire 003
{% endblock %}

{% block body %}
	<h1>Yoko Tsuno 47 ans, responsable d'équipe chez Elsior</h1>
	<h4>interview du 20 août 2020</h4>
	</h1><br><br><br>
{##}
	<h4>Choisissez trois couleurs zen et motivantes.</h4>
	<a></a><br><br>
{##}
	<h4>Faites la liste exaustive des fonctionalités que vous voulez voir apparaître dans ce logiciel.</h4><br>
	<a>Dans le formulaire de la Réponse, enregistrer quel support, par quel moyen on m'a répondu, par mail par téléphone</a>
	<a>Pouvoir noter un niveau d'importance dans les candidatures que je crée, sous forme de pictogramme. Dans le suivi
	 des candidatures avoir la possibilité de voir les annonces qui nous tiennent le plus à coeur.</a><br><br>
	<a></a><br><br>
{##}
	<h4>Donnez les trois fonctionalités qui pour vous sont les plus importantes.</h4><br>

{##}
	<h4>Quelles sont les règles propre à votre recherche d'emploi? Listez les étapes que vous suivez et expliquez vos méthodes. ( règles métier )</h4><br>
	<a></a><br><br>
{##}
	<h4>Quelles sont les sept informations primordiales que vous avez besoin de connaître sur votre candidature ? Il s'agit des colonnes que vous allez voir sur le tableau récapitulant vos candidatures.</h4><br>
	<a></a><br><br>
{##}
	<h4>Comment imaginez vous votre page d'accueil ?</h4><br>
	<a>Sur cette page d'accueil quelque chose me gêne. Ce projet s'adresse à des personnes qui cherchent un emploi, 
	alors pourquoi parler à la troisième personne du pluriel. Il faudrai mieux s'adresser à l'utilisateur comme par 
	exemple : "CE PROJET VOUS PERMETTERA". Je ne suis pas sur ce site pour acheter du pain. Il faut arler à l'utilisateur
	 quand on est sur la page d'accueil.</a><br><br>
{##}
	<h4>Quand vous récupéré un contact, de quelles informations disposez vous le plus souvent : son titre, son prénom, son nom, son numéro de téléphone, ou son couriel ? ( une seule réponse )</h4><br>
	<a></a><br><br>
{##}	
	<h4>Commentaires</h4>
	
<a>A chaque fois que tu rédiges une page il faut que tu te pause la question : "qui va me lire ?". L'utilisateur ou un
 intermédiaire comme Pole Emploi ?</a>
<a>Dans le formulaire de l'adresse, l'information "Pays" doit être inscrite par défaut : France.</a>

<br><br>


{% endblock %}
