{% extends 'base.html.twig' %}

{% block title %}Réponse au Questionnaire 001
{% endblock %}

{% block body %}
	<h1>Réponse au Questionnaire 001</h1><br><br><br>
	<h2>Choisissez trois couleurs zen et motivantes.</h2>
	<a></a><br><br>
	<h2>Faites la liste exaustive des fonctionalités que vous voulez voir apparaître dans ce logiciel.</h2><br>
	<a></a><br><br>
	<h2>Donnez les trois fonctionalités qui pour vous sont les plus importantes.</h2><br>
	<a></a><br><br>
	<h2>Quelles sont les règles propre à votre recherche d'emploi? Listez les étapes que vous suivez et expliquez vos méthodes. ( règles métier )</h2><br>
	<a></a><br><br>
	<h2>Quelles sont les sept informations primordiales que vous avez besoin de connaître sur votre candidature ? Il s'agit des colonnes que vous allez voir sur le tableau récapitulant vos candidatures.</h2><br>
	<a></a><br><br>
	<h2>Comment imaginez vous votre page d'accueil ?</h2><br>
	<a></a><br><br>
	<h2>Quand vous récupéré un contact, de quelles informations disposez vous le plus souvent : son titre, son prénom, son nom, son numéro de téléphone, ou son couriel ? ( une seule réponse )</h2><br>
	<a></a><br><br>


{% endblock %}
