{% extends 'base.html.twig' %}

{% block title %}Réponse au Questionnaire 002
{% endblock %}

{% block body %}
	<h1>Aria Janessandre 37 ans, recherche un emploi de mercatique WEB</h1>
	<h4>interview du 19 août 2020</h4>
	<br><br><br>
	<h4>Choisissez trois couleurs zen et motivantes.</h4>
	<ul><li>Couleur de la police de caractère :  #212529 ne doit pas être noire pure, pour éviter de faire trop mal aux yeux.</li>
	<li>Couleur de l'arrière plan : #f9f9f9</li>
	<li>Couleur de la barre de navigation : #82e4a3 vert couleur de l'espoir.</li>
	</ul><br><br>

	<h4>Faites la liste exaustive des fonctionalités que vous voulez voir apparaître dans ce logiciel.</h4>
	<br>
	<a>Ta liste de fonctionnalité est bien. J'ajouterai la possibilité de créer une liste des taches.</a><br>
	<a>Pouvoir rédiger ma lettre de motivation et modifier mon CV directement depuis ce logiciel. Pour la lettre de
			 motivation est- ce que c'est pas plus simple de faire une texte area pour la construire ?</a><br>
	<a>Pouvoir accéder à ce logiciel avec la liste de mes candidatures en cours depuis n'importe où facilement.</a>
	<br><br>

	<h4>Donnez les trois fonctionalités qui pour vous sont les plus importantes.</h4>
	<br>
	<a>1 . Le suivi des quandidatures, par là j'entends date du premier contact, date de relance et date d'entretien.</a><br>
	<a>2. Acces à mon cv et ma lettre de motiviation, pouvoir modifier le cv et la lettre de motivation grâce à ce logiciel.</a><br>
	<a>3. Pouvoir accéder à ce logiciel depuis n'importe quelle machine avec internet.</a><br><br>

	<h4>Quelles sont les règles propre à votre recherche d'emploi? Listez les étapes que vous suivez et expliquez vos 
			méthodes. ( règles métier )</h4>
	<br> <a>Analyse : bien lire l'annonce, noter ses mots clefs</a><br>
	<a>Rédaction : reprendre les mots clefs dans le cv et faire de même dans faire la lettre de motivation.</a><br>
	<a>La rédaction du CV et de la lettre de motivation doit coller parfaitement à l'annonce. Il faut reprendre les mots
	   clefs de l'annonce. Montrer que l'on a acquis les calités requise par l'employeur dans nos expériences précédente.</a>
	   <br>
	<a>Envoi : une fois que c'est fait envoyer la candidature</a><br>
		 <a> Scuivi de la candidature : une fois l'envoi fait, penser à rappeler le bureau RH pour faire pare 
		 de sa motivation et remettre sur le haut de la pile sa candidature.</a><br>
	<a>Quand on postule pour un 'minial' job comme caissière ou serveuse, il y a beaucoup de candidats. Il faut rappeler
	 très vite. Pour des métiers de cadre il faut laisser passer une semaine car beaucoup de personnes sont impliqués dans
	  le recrutement pour ce poste. Bien préparer son discours avant de relancer.</a>
	<br>
	<a>Les Pauses : se ménager des instants de récupération dans la journée.</a><br>
	<a>Se bloquer des moments où on recherche un emploi, et ne pas oublier de se créer des sasse de décompression.
 Il faut de l'auto dissipline et c'est la partie la plus difficile. Pour se motiver rien de tel que les carottes.</a>
	<br><br>

	<h4>Quelles sont les sept informations primordiales que vous avez besoin de connaître sur votre candidature ? 
		Il s'agit des colonnes que vous allez voir sur le tableau récapitulant vos candidatures.</h4>
	<br>
	<a></a><br><br>


	<h4>Comment imaginez vous votre page d'accueil ?</h4><br>
	<a>C'est peut être là que je placerai le calendrier avec une liste de chose à faire. Ce serait la liste 
	des tâches du jour. Si tu fais un calendrier n'oublie pas de faire un code couleur selon si c'est un 
	entretien une candidature à faire ou un suivi, ce sont des tâches qui se traitent différemment. Si il y a un 
	endroit où mettre le calendrier c'est sur la page d'accueil. Quite à ce que ce soit que le calendrier du jour. 
	par exemple un rappel automatique des tâche à faire en fonction de la date. Mais il ne faut pas trop contrainde
	 les utilisateurs, pour éviter de les stresser. Il faudrait que d'une mainière ou d'une autre il puissent choisir
	 ce qu'il veulent placer à l'ordre du jour.</a><br><br>
	
	<h4>Quand vous récupéré un contact, de quelles informations disposez vous le plus souvent : son titre, son prénom, 
						son nom, son numéro de téléphone, ou son couriel ? ( une seule réponse )</h4>
	<br>
	<a>Je dispose le plus souvent du nom de famille.</a><br><br>
	
	<h4>Commentaires</h4>
	<a>Dans le formulaire de création d'une nouvelle candidature et celui qui cré un contact,  on a besoin que de son 
							titre son nom son prénom et son numero et email. Là c'est trop d'information à remplire. Il faut simplifier.
	</a><br>
	<a>La barre de navigation présente un bouton qui s'appel contact. Ce n'est pas vraiment en corélation avec les 
							autres boutons du menu déroulant : nouvelle entreprise, nouveau contact, entreprise et répertoire. Au lieu de 
							l'appeler Contact je propose de l'appler Réseau.</a><br>
	<a>Comme il s'agit de travailler son réseau, les boutons nouveau contact et nouelle entreprise ne sont pas en 
							relation avec une candidature déjà créée. Mais c'est une réfléxion à l'inverse. On créer du réseau pour une 
							future coandidature. C'est des personnes ou des entreprises qui nous intéressent. Nous devons pouvroi ajouter un 
							commentaire : "Je l'ai rencontré à telle date, nous avons parler de, ..." Que ce soit pour entreprise ou contact
							 je mettrai la possibilité d'ajouter à commentaire dans le formulaire.</a><br>
	<a>Dans la barre de navigation ou ailleurs avoir un lien vers les sites WEB de recrutements. Attention on ne 
							comprends pas de quoi il s'agit dans la liste des fonctionalistés || job_seekers_app/templates/project_presentation/features.html.twig : 
							"lister les sites WEB visités triés par date la plus ancienne à la plus récente. ( les plus récemment contactés au dessus du tableau )". 
							Peut être faudrait- il préciser sits WEB de recrutement.</a><br>
	<a>Oui ton idée de faire un menu déroulant Profil dans la barre de navigation est bonne. Là tu peux mettre un bouton
							 lien vers les CV et les lettres de motivations. Ces boutons peuvent ouvrirent une fenêtre avec la liste des fichiers 
							 enregistrer. Lors de l'enregistrement des fichiers, il y a la possibilité d'en changer le titre.
	</a><br><br>

				{% endblock %}
