{% extends 'base.html.twig' %}

{% block title %}Réponse au Questionnaire 002
{% endblock %}

{% block body %}
	<h1>Chinook Longway 67 ans, bénévole à l'association Fortes Femmes</h1>
	<h4>interview du 5 août 2020</h4>
	<br><br><br>
	{##}
	<h4>Choisissez trois couleurs zen et motivantes.</h4>
	<a>J’ai aucun opignons sur la question. Non c’est bien. Remplacer la couleur de la police en bleu foncé. </a><br>
	<ul><li>Couleur de la police de caractère : Bleue foncée</li>
	<li>Couleur de l'arrière plan :</li>
	<li>Couleur de la barre de navigation :</li>
	</ul><br><br>
{##}
	<h4>Faites la liste exaustive des fonctionalités que vous voulez voir apparaître dans ce logiciel.</h4>
	<a>nspp</a><br>
<br>
{##}
	<h4>Donnez les trois fonctionalités qui pour vous sont les plus importantes.</h4>
	<br>
	<a>1 . Créer une nouvelle candidature</a><br>
	<a>2. Lister les candidatures</a><br>
	<a>3. Lister les relance à faire par date selon la date du jour.</a><br><br>
{##}
	<h4>Quelles sont les règles propre à votre recherche d'emploi? Listez les étapes que vous suivez et expliquez vos 
			méthodes. ( règles métier )</h4>
<a>nspp</a><br>
<br>
{##}
	<h4>Quelles sont les sept informations primordiales que vous avez besoin de connaître sur votre candidature ? 
		Il s'agit des colonnes que vous allez voir sur le tableau récapitulant vos candidatures.</h4>
	<br>
	<a>1- Titre du métier</a><br>
<a>2- Nom de l’entreprise</a><br>
<a>3- Date de la candidature</a><br>
<a>4- Date de la réponse</a><br>
<a>5- Contenu de la réponse</a><br>
<a>6- Date de la relance</a><br><br>
{##}

	<h4>Comment imaginez vous votre page d'accueil ?</h4><br>
	<a>nspp</a><br><br>
{##}	
	<h4>Quand vous récupéré un contact, de quelles informations disposez vous le plus souvent : son titre, son prénom, 
						son nom, son numéro de téléphone, ou son couriel ? ( une seule réponse )</h4>
	<br>
	<a>Je dispose le plus souvent de son titre et de son nom de famille.</a><br><br>
{##}	
	<h4>Commentaires</h4>
	<a>Pouvoir extraire le fichier SQL de la base de donnée de Job Seekers pour le sauvegarder dans le temps. Exemple, j’ai fini
	 ma recherche d’emplois, mais un jour j’y reviendrai. J’ai besoin des informations à l’intérieur de cette base de donnée. Je 
	 veux pouvoir la sauver d’un ordinateur à l’autre et dans le temps.</a><br>
<a>Pour la barre de navigation avoir un code couleur qui me permette de savoir d’un coup d’oeil sur quel page je suis. Par exemple 
changer la couleur du bouton Candidature lorsque je suis sur la page Nouvelle Candidature ou Liste des Candidatures.</a><br>
	<br><br>

				{% endblock %}
