{% extends 'base.html.twig' %}

{% block title %}Fonctionalités Utilisateurs
{% endblock %}

{% block body %}
	<h1>Fonctionalités Utilisateurs</h1>
	<br><br><br>
	<a>En tant qu'utilisateur, je peux :</a>
	<br><br>

	<a>accéder à mon calendrier.</a><br>
	<a>attribuer un curiculum vitaé précis à une candidature.</a><br>
	<a>attribuer une lettre de motivation précise à une candidature.</a><br>
	<a>commenter la candidature.</a><br>
	<a>enregistrer l'annonce.</a><br>
	<a>enregistrer ma lettre de motivation sous forme de fichier.</a><br>
	<a>enregistrer mon curiculum vitaé sous forme de fichier.</a><br>
	<a>lister les sites WEB visités triés par date la plus ancienne à la plus récente. ( les plus récemment contactés
									au dessus du tableau )</a><br>
	<a>noter la date de l'entretien.</a><br>
	<a>noter le lieu de l'entretien.</a><br>
	<a>noter le nom de l'entreprise qui recrute.</a><br>
	<a>noter le nom de la personne à laquelle je m'adresse.</a><br>
	<a>noter le nom de la personne avec qui aura lieu l'entretien.</a><br>
	<a>noter le numéro de téléphone de l'entreprise ou de la personne à contacter.</a><br>
	<a>noter si la candidature a été spontanée, ou si elle a été une réponse à une annonce.</a><br>
	<a>noter si la réponse à été négative, positive ou absente.</a><br>
	<a>noter si oui ou non j'ai objenu un entretien.</a><br>
	<a>saisir le site sur lequell j'ai trouvé l'annonce.</a><br>
	<a>spécifier la date à laquelle j'ai postulé.</a><br>
	<a>spécifier la date à laquelle je dois recontacter la personne ou l'entreprise.</a><br>

{% endblock %}
