{% extends ['base.html.twig', 'checklist.html.twig'] %}
{% block title %}Fonctionalités Utilisateurs

{% endblock %}

{% block body %}
	<h1>Fonctionalités Utilisateurs</h1>
	<br><br><br>
	{##}
	<ul id="myUL">
		<h3>En tant qu'utilisateur, je peux :</h3>
		<br><br>
	</ul>
	{##}
	<ul id="myUL">
		<h4>accéder,</h4>
		<li>
			à ce site depuis n'importe quel ordinateur.
		</li>
		<li>
			si je suis recruteur, seulement au CV et lettre de motivation spécifique d'un chercheur d'emploi.
		</li>
		<li>
			si je suis recruteur et ou développeur, à la présentation éxhaustive du site.
		</li>
		<li>
			si je suis chercheur d'emploi, à toutes les fonctionnalités du site permettant d'organiser ma recherche d'emplois.
		</li>
		<li>
			si je suis chercheur d'emploi, à des conseils sur ma recherche d'emloi.
		</li>
				<li>
			si je suis chercheur d'emploi, au lexique inhérent à la recherche d'emploi.
		</li>
		<li>
			si je suis développeur, à la présentation technique exhaustive du site.
		</li>
		<br><br>
	</ul>


	{##}
	<ul id="myUL">
		<h4>dans mon profil</h4>
		<li>
			attribuer un curiculum vitaé précis à une candidature.
		</li>
		<li>
			attribuer une lettre de motivation précise à une candidature.
		</li>
		<li>
			enregistrer ma lettre de motivation sous forme de fichier.
		</li>
		<li>
			enregistrer mon curiculum vitaé sous forme de fichier.
		</li>
		<li>
			donner mon statut : chercheur d'emploi, recruteur ou développeur. Il faut que plusieurs choix soient possible.
		</li>
		<li>
			je peux choisir un CV et une lettre de motivation à mettre en avant pour les recruteurs.
		</li>
		<br><br>
	</ul>
	{##}
	<ul id="myUL">
		<h4>dans ma liste des tâches,</h4>
		<li>
			accéder à mon calendrier.
		</li>
		<li>
			lister les sites WEB visités triés par date la plus ancienne à la plus récente. ( les plus récemment contactés
																																														au dessus du tableau )
		</li>
		<br><br>
	</ul>
	{##}
	<ul id="myUL">
		<h4>dans mes candidatures,</h4>
		<li class="alert alert-success">
			<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
			</svg>
			commenter la candidature.
		</li>
		<li class="alert alert-success">
			<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
			</svg>
			enregistrer l'annonce.
		</li>
		<li class="alert alert-success">
			<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
			</svg>
			noter le nom de l'entreprise qui recrute.
		</li>
		<li class="alert alert-success">
			<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
			</svg>
			noter le nom de la personne à laquelle je m'adresse.
		</li>
		<li class="alert alert-success">
			<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
			</svg>
			noter le numéro de téléphone de l'entreprise ou de la personne à contacter.
		</li>
		<li class="alert alert-success">
			<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
			</svg>
			noter si la candidature a été spontanée, ou si elle a été une réponse à une annonce.
		</li>
		<li class="alert alert-success">
			<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
			</svg>
			saisir le site sur lequel j'ai trouvé l'annonce.
		</li>
		<li>
			par un pictogramme, avoir la possibilité d'indiquer l'importance que j'accorde à chaque annonce.

		</li>
		<li class="alert alert-success">
			<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
			</svg>
			spécifier la date à laquelle j'ai postulé.
		</li>
		<li class="alert alert-success">
			<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
			</svg>
			spécifier la date à laquelle je dois recontacter la personne ou l'entreprise.
		</li>
		<br><br>
	</ul>
	{##}
	<ul id="myUL">
		<h4>dans les réponses,</h4>
		<li class="alert alert-success">
			<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
			</svg>
			noter si la réponse à été négative, positive ou absente.
		</li>
		<li class="alert alert-success">
			<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
			</svg>
			noter si oui ou non j'ai objenu un entretien.
		</li>
		<br><br>
	</ul>
	{##}
	<ul id="myUL">
		<h4>dans mes entretiens,</h4>
		<li class="alert alert-success">
			<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
			</svg>
			noter la date de l'entretien.
		</li>
		<li class="alert alert-success">
			<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
			</svg>noter le lieu de l'entretien.
		</li>

		<li class="alert alert-success">
			<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
			</svg>
			noter le nom de la personne avec qui aura lieu l'entretien.
		</li>
		<br><br>
	</ul>
	{##}
	<ul id="myUL">
		<h4>dans mon réseau,</h4>
		<li class="alert alert-success">
			<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
			</svg>
			enregistrer un noveau contact.
		</li>
		<li class="alert alert-success">
			<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
			</svg>
			enregistrer un novelle entreprise.
		</li>
		<li class="alert alert-success">
			<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
			</svg>
			voir la liste de mes contact.
		</li>
		<li class="alert alert-success">
			<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
			</svg>
			voir la liste des entreprises.
		</li>
		<br><br></ul>{##}<ul id="myUL">
		<h4></h4>
	</ul>
</ul>{##}{% endblock %}
