{% extends 'base.html.twig' %}

{% block title %}Introduction{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Job Seekers App</h1>
    <p>C'est un 'logiciel' qui deviendra par la suite un site internet.</p><br>
    <p>Ce site internet s'adresse au demandeurs d'emploi. Il leur permettra d'organiser leur recherche afin de gagner du temps.</p><br>
    <p>Ce projet doit donc présenter une prise en main facile.</p><br>
    <p>Les déstinataires de ce site doivent pouvoir avoir accès à l'intégralité de leur candidatures depuis n'importe où dans le 
    monde, et depuis n'importe quel poste. C'est pourquoi ce sera bientôt un site internet. Les utilisateurs ont besoin de protéger
    leurs données. Il y aura besoin d'une inscription avant d'utiliser ce programme. Il faudra apporter un regard irréprochable à 
    la sécurité. C'est pourquoi sa mise en ligne tarde.</p><br>
    <p>Les demandeurs d'emploi ont un travail non reconnu et non rémunéré : trouver un emploi. Il leur prends beaucoup de temps et 
    d'energie. Il est important de leur proposer une solution pour gagner du temps dans leur organisation. Ce sont des personnes 
    avec peut de moyen. C'est pourquoi ce programme est libre de droit et réutilisable par tous. Il est probable que des demandeurs 
    d'emploi développeur aussi, souhaiterons aider à son développement.</p><br>
</div>
{% endblock %}
