{% extends 'base.html.twig' %}

{% block title %}Besoins du Publique
{% endblock %}

{% block body %}
	<h1>Besoins du Publique</h1>
	<h2>Les Règles Métiers</h2>
	<h3>Rédaction du Curiculum Vitae</h3>
	<a>La rédaction du CV doit coller parfaitement à l'annonce. Il faut reprendre les mots clefs de l'annonce dans le CV.
	Montrer que l'on a acquis les calités requise par l'employeur dans nos expériences précédente.</a>
	<h3>Rédaction de la Lettre de Motivation</h3>
	<a>Pour les développeur cette étape n'est pas nécéssaire. La rédaction de la lettre de motivation doit coller 
	parfaitement à l'annonce. Il faut reprendre les mots clefs de l'annonce dans cette dernière.
	Elle doit rassurer l'employeur dans notre qualification. Elle est composé d'une introduction, d'un développement,
	 et d'une conclusion. L'introduction vous présente, en peut de mot  reprenez le titre que vous visé dans cette 
	 entreprise et vos disponibilité. Dans un autre paragraphe dites pourquoi vous êtes la personne que l'annonceur veut
	 pour ce poste. Faites un autre paragraphe qui parle de votre colaboration. Puis concluez par une phrase de politesse
	 qui incite le recruteur à vous soliciter pour un entretien.</a>

	<h3>Suivi de candidature</h3>
	
	<a>Le jour suivant sa candidature spontanée ou non, le chercheur d'emploi devra recontacter l'entreprise. 
	Il montre ainsi sa motivation et insite sa candidature à être replacé sur le dessu de la pile. Il ne faut
	pas attendre plus de 24h avant de contacter le recruteur potentiel. Si un employé est connu il faut l'utiliser.
	Penser à bien préparer son discours avant de relancer.</a>

	<h3>Sasse de Décompréssion</h3>
	<a>Se bloquer des moments où on recherche un emploi, et ne pas oublier de se créer des sasse de décompression.
 Il faut de l'auto dissipline et c'est la partie la plus difficile. S'autoriser le droit à l'amusement et aux loisirs.</a>
	
		

{% endblock %}
