{% extends 'base.html.twig' %}

{% block title %}Besoins du Publique
{% endblock %}

{% block body %}
	<h1>Besoins du Publique</h1>
	<h2>Les Règles Métiers</h2>
	<h3>Suivi de candidature</h3>
	<a>Le jour suivant sa candidature spontanée ou non, le chercheur d'emploi devra recontacter l'entreprise. 
	Il montre ainsi sa motivation et insite sa candidature à être replacé sur le dessu de la pile. Il ne faut
	pas attendre plus de 24h avant de contacter le recruteur potentiel. Si un employé est connu il faut l'utiliser.</a>
		

{% endblock %}
