{% extends 'base.html.twig' %}

{% block title %}Objectifs du Projet
{% endblock %}

{% block body %}
	<h1>Objectifs du Projet</h1>

	<p>
		<a>Ce projet est un “logiciel” qui permet aux demandeurs d’emplois d’organiser leurs recherches. C’est un 
		logiciel libre et gratuit. Il permet aux utilisateurs d’enregistrer les annonces qu’ils 
		 trouvent sur le net des associées à des tâches à accomplir, créant ainsi une candidature. Ce projet en est à 
		 ses débuts. C’est un support pour les questions que je projette de poser à d’autres demandeurs d’emplois 
		 concernant leurs attentes utilisateurs.</a>
		<br><br>
		<a>Il doit présenter une prise en main facile. Les demandeurs d'empoi ou chômeurs sont engagés à plein temps 
		  dans leur recherche. Ce logiciel existe pour réduire le temps passé pour traité une candidature. Sa prise en 
		  main ne doit pas être complexe.</a>
		<br>
		<a>Le développement de cette application peut être repris par n'importe quel utilisateur. Il peut alors l'
		  amélioré, selon ses besoins. Il continura ainsi à parfaire l'expérience utilisateur de ce logiciel. L'avantage
		   à ce qu'il soit libre pour les utilisateurs visés, c'est la gratuité que cela implique. Les chômeurs sont des 
		   gens avec peu de moyens. </a>
		<br>
		<a>Il permet aux utilisateurs d’enregistrer les annonces qu’ils trouvent sur le net des associées à des tâches 
		à accomplir, créant ainsi une candidature.  </a>
		<br><br>
		<a>Ce projet en est à ses débuts. C'est un projet de fin d'étude personelle, qui me tennait à coeur, car je 
		compte moi même l'utiliser, dès qu'il aura une forme stable. Je n'ai malheureusement pas croisé beaucoup de 
		demandeurs d'emplois cette été en période de covid 19, pour faire tester l'application que je développe. 
		Elle reste un support pour les questions que je projette de poser.</a>
		<br>
		<div class="text-right-horizontal">Si vous même êtes intéréssé, contactez moi proton.muriel@outlook.fr</div>
	</p>

{% endblock %}
