{% extends 'base.html.twig' %}

{% block title %}Questionnaire Déstiné aux Utilisateurs
{% endblock %}

{% block body %}
	<h1>Questionnaire Déstiné aux Utilisateurs</h1>
	<br><br><br>

	<a>Choisissez trois couleurs zen et motivantes.</a><br>
	<a>Faites la liste exaustive des fonctionalités que vous voulez voir apparaître dans ce logiciel.</a><br>
	<a>Donnez les trois fonctionalités qui pour vous sont les plus importantes.</a><br>
	<a>Quelles sont les règles propre à votre recherche d'emploi? Listez les étapes que vous suivez et expliquez vos méthodes. ( règles métier )</a><br>
	<a>Quelles sont les sept informations primordiales que vous avez besoin de connaître sur votre candidature ? Il s'agit des colonnes que vous allez voir sur le tableau récapitulant vos candidatures.</a><br>
	<a>Comment imaginez vous votre page d'accueil ?</a><br>
	<a>Quand vous récupéré un contact, de quelles informations disposez vous le plus souvent : son titre, son prénom, son nom, son numéro de téléphone, ou son couriel ? ( une seule réponse )</a><br>

{% endblock %}
