{% extends 'base.html.twig' %}

{% block title %}Technologie
{% endblock %}

{% block body %}
	<h1>Symfony</h1>
	<a>Symfony est un framework dont la première version date de 2005. Il est donc stable mais pas assez vieux pour ne 
    pas avoir une mise à jour réguiière. La dernière version de symfony a été publiée en juin 2020.</a><br>
    <a>La communauté reste active. La documentation est clair. Mais si le développeur a besoin d’une information il 
    peut la trouver facilement. Il ne sera pas seul face à son problème. Il y a près de 600 000 connaisseurs répartis 
    dans plus de 120 pays. </a><br>
    <a>Ce framework est connu et reconnu à l’international. Entre autres, Yahoo en fait l’éloge.</a><br>
    <a>Symfony  est  livré  avec  des  outils  complémentaires  qui  permettent  de  réduire  la  charge  de  travail
      des  développeurs. Les composants Symfony peuvent être utilisés de manière autonome dans d’autres frameworks ou 
      dans des solutions PHP simples.</a><br>
    <a>Symfony  intègre  des  mesures  de  sécurité  préventives  systématiques,  ce  qui  le  rend  moins  vulnérable 
    face  aux failles et attaques.</a><br>
    <a>Enfin il est facile à prendre en main, récemment racheté par la société Smile, SensioLabs participe activement à
     la réputation et l’évolution du Framework. Tutoriels, certifications, conférences... SensioLabs s’est également 
     associé  à  l’école  de  code  3W  Academy  pour  créer  une  nouvelle  formation  axée  sur  les  langages  
     Angular  et  Symfony.</a><br><br>
     <div>
     <a>source : Florian Grandvallet</a><br>
     <a>sur : https://www.easypartner.fr/blog/5-bonnes-raisons-dutiliser-symfony/Liste
      des actions par l’UtilisateurVoir trelloprojet agile</a>
      </div>
		

{% endblock %}