{% extends 'base.html.twig' %}

{% block title %}Technologie
{% endblock %}

{% block body %}
	<h1>Technologie</h1>
	<h2>Symfony</h2>
	<a>Symfony est un framework dont la première version date de 2005. Il est donc stable mais pas assez vieux pour ne pas avoir une mise à jour réguiière. La dernière version de symfony a été publiée en juin 2020.La communauté reste active. La documentation est clair. Mais si le développeur a besoin d’une information il peut la trouver facilement. Il ne sera pas seul face à son problème. Il y a près de 600 000 connaisseurs répartis dans plus de 120 pays.Ce framework est connu et reconnu à l’international. Entre autres, Yahoo en fait l’éloge.Symfony  est  livré  avec  des  outils  complémentaires  qui  permettent  de  réduire  la  charge  de  travail  des  développeurs. Les composants Symfony peuvent être utilisés de manière autonome dans d’autres frameworks ou dans des solutions PHP simples.Symfony  intègre  des  mesures  de  sécurité  préventives  systématiques,  ce  qui  le  rend  moins  vulnérable  face  aux failles et attaques.Enfin il est facile à prendre en main, récemment racheté par la société Smile, , SensioLabs participe activement à la réputation et l’évolution du Framework. Tutoriels, certifications, conférences... SensioLabs s’est également associé  à  l’école  de  code  3W  Academy  pour  créer  une  nouvelle  formation  axée  sur  les  langages  Angular  et  Symfony.source : Florian Grandvalletsur : https://www.easypartner.fr/blog/5-bonnes-raisons-dutiliser-symfony/Liste des actions par l’UtilisateurVoir trelloprojet agile
</a>
		

{% endblock %}
