{% extends 'base.html.twig' %}

{% block title %}Modifier l'Adresse{% endblock %}

{% block body %}
    <h1>Modifier l'Adresse</h1>

    {{ include('address/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('address_index') }}">Retour à la liste</a>

    {{ include('address/_delete_form.html.twig') }}
{% endblock %}
